<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.health.READ_EXERCISE" />
    <uses-permission android:name="android.permission.health.WRITE_EXERCISE" />
    <uses-permission android:name="android.permission.health.WRITE_ACTIVE_CALORIES_BURNED" />

    <!-- Query for Health Connect availability -->
    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>
</manifest>
